
body{
    background-color: aquamarine;
}
.question-style{
    font-size: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 20px;
    font-style: italic;
    margin-bottom: 10px;
}
 
.quiz-result{
    font-weight: bold; 
    font-size: 20px;
     margin-top: 10px;
      margin-bottom: 10px;
}
.submit-btn{
margin-top: 10px;
color: white;
background-color: chartreuse;
border-radius: 5px;
border-color: none;
}
 
